*{
    margin:0;
}

.canSee{
    display: block;
}

.notSee{
    display: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical{
    flex-direction: column;
}

.fullscreen{
    width: 100vw;
    height: 100vh;
}

.bigfont{
    font: larger bold;
}

.btn{
    background-color: rgba(0,0,0,0.8);
    color:rgba(255,255,255,0.8);
    font: larger bold;
}

input,h1{
    margin: 10px;
}